// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1366px) {
    .main-popup-container .popup-content-section h2 {
        font-size: 2.6rem;
    }
}

@media (max-width: 1280px) {
    .main-popup-container .popup-content-section h2 {
        font-size: 2.3rem;
    }

    .main-popup-container .popup-content-section {
        font-size: 1.3rem;
    }
}

@media (max-width: 1170px) {
    .the-navbar .navbar-nav .nav-item .nav-link {
        padding: 1rem 3rem !important;
    }

    .main-popup-container .popup-content-section {
        font-size: 1.2rem;
    }

    .b2b-main-container .b2b-content-section h1 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }

    .b2b-benefits-section .benefits-item .benefits-item-wrapper {
        padding: 1.5rem 1rem;
        min-height: 235px;
        margin: 0;
    }

    .b2b-inst-section .inst-item .inst-item-wrapper {
        top: 70%;
        max-width: 70%;
        min-height: 240px;
        padding: 2rem 1rem;
    }

    .b2b-test-section .test-item .test-item-wrapper {
        padding: 1rem;
        padding-top: 35%;
        font-size: 1.2rem;
    }
}

@media (max-width: 1024px) {
    .main-popup-container .main-popup-wrapper {
        max-width: 85vw;
        padding: 3rem;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .welcome-main-container .welcome-sections-container-item .welcome-site-wrapper .welcome-sections-wrapper h2 {
        padding: 1rem 2rem;
        font-size: 1.15rem;
    }

    .welcome-main-container .welcome-title {
        padding-bottom: 8rem;
    }

    .the-navbar .navbar-nav .nav-item .nav-link {
        padding: 1rem 1.5rem !important;
    }

    .b2c-main-container .b2c-content-section h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .b2c-main-container .b2c-content-section {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .popup-image-container img {
        max-width: 70%;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }

    .main-popup-container .popup-content-section h2 br {
        display: none;
    }

    .main-popup-container .popup-content-section h2 {
        font-size: 3rem;
    }

    .b2b-main-container .b2b-content-section h1 {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
    }

    .b2b-main-container .b2b-content-section .btn-hero {
        padding: 0.8rem 4rem;
        font-size: 1.1rem;
    }

    .b2b-title-container {
        padding: 3rem 1rem;
        padding-bottom: 1.5rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .b2b-about-section .b2b-box-item .b2b-box-item-wrapper {
        position: unset;
        max-width: 100%;
    }

    .b2b-about-section .even img {
        margin-left: auto;
    }

    .b2b-about-section .odd img {
        margin-right: auto;
    }

    .b2b-benefits-section .benefits-item .benefits-item-wrapper {
        padding: 2.5rem 3rem;
        min-height: 215px;
        margin: 0;
        margin-bottom: 2rem;
    }

    .inst-item-3 {
        margin-top: 13rem;
    }

    .b2b-inst-section .b2b-button-container {
        padding-top: 22vh;
    }

    .b2b-inst-section .inst-item .inst-item-wrapper {
        min-height: 235px;
        padding: 1.5rem 1rem;
    }

    .b2b-test-section .test-item .test-item-wrapper {
        padding: 1rem;
        padding-top: 15%;
        font-size: 1rem;
    }

    .b2b-contact-section .form-input-item p {
        margin-bottom: 2px;
        font-size: 0.9rem;
    }

    .b2b-contact-section .form-input-item label {
        font-size: 0.9rem;
        margin: 0;
    }


}

@media (max-width: 800px) {}

@media (max-width: 768px) {}



/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 767px
-------------------------------------------------------------- */
@media (max-width: 767px) {
    .welcome-main-container .welcome-title {
        padding-bottom: 3rem;
    }

    .welcome-main-container .welcome-title h1 {
        font-size: 2.5rem;
    }

    .welcome-sections-container-item {
        margin-bottom: 2.5rem;
    }

    .welcome-main-container .welcome-sections-container-item .welcome-site-wrapper img {
        width: 100%;
        max-width: 80%;
    }

    .footer-copy .footer-copy-right ul {
        flex-flow: column;
        font-size: 1rem;
        margin-bottom: 1rem;

        & a {
            font-size: 1rem;
            margin-bottom: 5px;
        }
    }

    .footer-copy .footer-copy-left h6 {
        font-size: 1rem;
        line-height: 1.4rem;
        margin: 0;
        font-weight: 400;
        text-align: center;
    }

    .b2c-main-container .b2c-content-section {
        font-size: 1rem;
        line-height: 1.9rem;
        padding: 2rem 1rem;
        padding-bottom: 0;
    }

    .the-footer .footer-item .footer-sidebar {
        margin-bottom: 2rem;
    }

    .main-popup-container .popup-content-section h2 {
        font-size: 2.2rem;
    }

    .b2b-main-container .b2b-content-section h1 {
        font-size: 2.8rem;
        line-height: 3.4rem;
        margin-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .b2b-main-container .b2b-content-section .btn-hero {
        padding: 0.8rem 1rem;
        font-size: 1.3rem;
        display: block;
    }

    .b2b-title-container {
        padding: 2.5rem 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .b2b-benefits-section .benefits-item .benefits-item-wrapper {
        padding: 1.5rem 1.5rem;
        min-height: 246px;
        margin: 0;
        margin-bottom: 2rem;
    }

    .b2b-inst-section .inst-item .inst-item-wrapper {
        position: unset;
        top: 0;
        max-width: 100%;
        min-height: unset;
        padding: 1.5rem 1rem;
        margin-bottom: 2.5rem;
    }

    .b2b-inst-section .inst-item img {
        width: 100%;
    }

    .inst-item-3 {
        margin-top: 0;
    }

    .b2b-inst-section .b2b-button-container {
        padding-top: 1rem;
    }

    .b2b-inst-section .b2b-button-container .btn-hero {
        padding: 0.8rem 1rem;
        font-size: 1.2rem;
        display: block;
    }

    .b2b-test-section .test-item .test-item-wrapper {
        padding: 1rem;
        padding-top: 35%;
        font-size: 1.3rem;
    }

    .b2b-contact-section .form-input-item .btn-hero {
        padding: 0.8rem 1rem;
        font-size: 1.1rem;
        display: block;
        width: 100%;
    }

}

@media (max-width: 600px) {}

@media (max-width: 533px) {
    .welcome-main-container .welcome-sections-container-item .welcome-site-wrapper img {
        width: 100%;
        max-width: 100%;
    }

    .welcome-main-container {
        padding: 2rem 1rem;
        min-height: unset;
    }

    .main-popup-container .popup-content-section h2 {
        font-size: 1.5rem;
    }

    .main-popup-container .popup-content-section {
        font-size: 1.1rem;
    }

    .b2b-main-container .b2b-content-section h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }

    .b2b-title-container {
        font-size: 1rem;
    }

    .b2b-benefits-section .benefits-item .benefits-item-wrapper {
        padding: 2.5rem 3rem;
        min-height: unset;
        margin-bottom: 2rem;
    }

    .test-item img {
        width: 100%;
    }
}

@media (max-width: 424px) {
    .welcome-main-container .welcome-title h1 {
        font-size: 1.9rem;
    }

    .welcome-main-container .welcome-title {
        padding-bottom: 1.5rem;
    }

    .welcome-main-container .welcome-sections-container-item .welcome-site-wrapper img {
        width: 100%;
        max-width: 90%;
    }

    .welcome-main-container .welcome-sections-container-item .welcome-site-wrapper .welcome-sections-wrapper h2 {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .b2c-main-container .b2c-content-section h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding-bottom: .5rem;
    }

    .main-popup-container .main-popup-wrapper {
        max-width: 85vw;
        padding: 2rem;
    }

    .b2b-main-container .b2b-content-section h1 {
        font-size: 1.9rem;
        line-height: 2.8rem;
    }

    .b2b-title-container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 414px) {}

@media (max-width: 375px) {
    .b2b-main-container .b2b-content-section h1 {
        font-size: 1.6rem;
        line-height: 2.1rem;
    }

    .b2b-main-container .b2b-content-section .btn-hero {
        font-size: 1.1rem;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}