// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'DM Sans', sans-serif;
@secondfont: 'DM Serif Display', serif;
@black: #000000;
@white: #ffffff;
@orange: #DC582A;
@orangeh: #C34E25;
@neutral: #FFDEC6;
@neutral2: #FFF8F5;
@numbers: #FFB884;
@graytitle: #212529;
@graytext: #444444;
@graysoft: #E5E5E5;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader-css {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @orange;
    border-color: @orange transparent @orange transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.header-logo {
    text-align: center;
    padding: 3rem 1rem;
}

.the-header {
    text-align: center;
    padding: 1.5rem 1rem;

    & ul {
        list-style: none;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 1rem;
        padding-bottom: 0;
        justify-content: flex-end;

        & li {
            & a {
                margin-left: 1.5rem;
            }
        }
    }
}

.the-navbar {
    padding-bottom: 1.5rem;

    & .navbar-nav {
        & .nav-item {
            .nav-link {
                padding: 1rem 3.5rem !important;
                color: @graytext;

                &:hover {
                    color: @orangeh;
                }
            }
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background-color: @white;
    color: @graytext;
    padding: 2.5rem 1rem;

    & .footer-item {
        & .footer-sidebar {
            list-style: none;
            padding: 0;
            margin: 0;

            & .widgettitle {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: .5rem;
            }

            & .widget_social_networks_widget {
                padding: 1rem 0;

                & ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .display(flex);
                    align-items: center;
                    justify-content: flex-start;

                    & li {
                        & a {
                            border: 1px solid @graytext;
                            color: @graytext;
                            height: 40px;
                            width: 40px;
                            display: inline-block;
                            font-size: 1.2rem;
                            text-align: center;
                            padding: 6px;
                            border-radius: 100%;
                            margin-right: 1rem;

                            &:hover {
                                color: @orangeh;
                            }
                        }
                    }
                }
            }

            & .textwidget {
                padding-top: 6px;
                font-size: .9rem;
                line-height: 1rem;
            }

            & .custom-country-selector {
                border: 1px solid black;
                border-radius: 0;
                padding: 0.7rem;
                height: auto;
                font-size: .9rem;
                margin-top: 1rem;
            }

            & .widget_nav_menu {
                & ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    & li {
                        & a {
                            padding: 0.4rem 1rem;
                            padding-left: 0;
                            font-size: .9rem;
                            color: @graytext;

                            &:hover {
                                color: @graytitle;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer-logo {
    text-align: center;
    padding: 1.5rem 1rem;
}

.footer-copy {
    background-color: @orange;
    color: @white;
    padding: 1.5rem 1rem;

    & a {
        color: @white;

        &:hover {
            color: @orangeh;
        }
    }

    & .footer-copy-left {
        & h6 {
            font-size: 0.9rem;
            margin: 0;
            font-weight: 500;
        }
    }

    & .footer-copy-right ul {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        font-size: 0.9rem;

        & a {
            padding: 0 0.5rem;
        }
    }
}

/* --------------------------------------------------------------
3.- WELCOME
-------------------------------------------------------------- */
.welcome-main-container {
    background-size: cover !important;
    background-position: center center !important;
    text-align: center;
    color: @graytext;
    padding: 3rem;

    & .welcome-title {
        font-family: @secondfont;
        color: @graytitle;
        padding-bottom: 2rem;

        & h1 {
            font-size: 3.5rem;
            font-weight: 800;
        }
    }

    & .welcome-sections-container-item {

        & .welcome-site-wrapper {
            position: relative;

            & img {
                width: 100%;
            }

            & .welcome-sections-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .display(flex);
                align-items: center;
                justify-content: center;

                & h2 {
                    background: @orange;
                    color: @white;
                    padding: 1rem 3rem;
                    font-size: 1.25rem;
                    margin: 0;
                    letter-spacing: .5px;
                    border-radius: 8px;
                    .transition(all .3s ease-in-out);

                    &:hover {
                        background: @orangeh;
                    }

                }
            }
        }


    }
}

/* --------------------------------------------------------------
4.- B2C LANDING
-------------------------------------------------------------- */
.b2c-main-container {
    background-size: cover !important;
    background-position: center center !important;
    padding: 5rem 1rem;

    & .b2c-content-section {
        color: @graytext;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2.4rem;

        & h1 {
            font-family: @secondfont;
            color: @graytitle;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 3rem;
            padding-bottom: 1rem;
        }
    }
}

.main-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .80);
    width: 100%;
    height: 100%;
    z-index: 99;
    .display(flex);
    align-items: center;
    justify-content: center;

    & .main-popup-wrapper {
        background: @white;
        max-width: 75vw;
        padding: 4rem;
    }

    & .popup-content-section {
        padding-left: 4%;
        padding-right: 8%;
        font-size: 1.5rem;

        & h2 {
            font-family: @secondfont;
            color: @graytitle;
            font-size: 2.8rem;
        }
    }
}

.sendinblue-form-container {
    & .form-email-input {
        height: auto;
        padding: 0.7rem;
        border-color: @graytext;
    }

    & .btn {
        background: @orange;
        color: @white;
        width: 100%;
        border: 0;
        padding: 0.8rem;
        margin-top: 1rem;

        &:hover {
            background: @orangeh;
        }
    }

    & .error-thanks-email {
        text-align: left;
        display: block;
        font-size: 1rem;
    }
}

/* --------------------------------------------------------------
5.- B2B LANDING
-------------------------------------------------------------- */
.b2b-title-container {
    color: @graytext;
    text-align: center;
    padding: 3rem 1rem;
    font-size: 1.6rem;
    line-height: 2.5rem;

    & h2 {
        color: @graytitle;
        font-family: @secondfont;
        font-size: 2.8rem;
        margin: 1.5rem 0;
    }
}

.b2b-main-container {
    background-size: cover !important;
    background-position: center center !important;
    padding: 5rem 1rem;

    & .b2b-content-section {
        color: @graytext;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 2.4rem;

        & h1 {
            font-family: @secondfont;
            color: @graytitle;
            font-weight: 400;
            font-size: 3rem;
            line-height: 3.6rem;
            padding-bottom: 1.5rem;
        }

        .btn-hero {
            background: @orange;
            color: @white;
            border-radius: 5px;
            padding: 0.8rem 5rem;
            font-size: 1.3rem;
        }
    }
}

.b2b-about-section {
    background: @neutral2;
    color: @graytext;
    padding-bottom: 3rem;

    & .b2b-box-item {
        position: relative;
        padding: 2rem 1rem;

        & img {
            display: block;
            margin: 0 auto;
        }

        & .b2b-box-item-wrapper {
            background: @neutral2;
            position: absolute;
            top: 10%;
            max-width: 55%;
            padding: 3rem;
            font-size: 1rem;
            line-height: 2rem;

            & h2 {
                font-family: @secondfont;
                color: @graytitle;
                margin-bottom: 1.5rem;
            }
        }
    }

    & .odd {
        & img {
            margin-right: 0;
        }

        & .b2b-box-item-wrapper {
            left: 0;
        }
    }

    & .even {
        & img {
            margin-left: 0;
        }

        & .b2b-box-item-wrapper {
            right: 0;
        }
    }
}

.b2b-benefits-section {
    color: @graytext;
    padding-bottom: 3rem;

    & .benefits-item {
        .benefits-item-wrapper {
            padding: 2rem 1rem;
            min-height: 210px;
            text-align: center;
            box-shadow: 0 0 10px #d6d6d6;
            margin: 0 0.5rem;

            & img {
                margin-bottom: 1.1rem;
            }
        }
    }
}

.b2b-inst-section {
    color: @graytext;
    background-size: cover !important;
    background-position: center center !important;
    padding-bottom: 3rem;

    & .inst-item {
        position: relative;
        padding: 0 1.5rem;

        & .big-number {
            color: @numbers;
            position: absolute;
            font-family: @secondfont;
            top: -10px;
            left: 5px;
            font-size: 4.5rem;
        }

        & .inst-item-wrapper {
            background: @white;
            position: absolute;
            top: 80%;
            left: 15%;
            max-width: 70%;
            min-height: 240px;
            padding: 2rem;
            z-index: 2;
            text-align: center;

            & h2 {
                color: @graytitle;
                font-family: @secondfont;
                font-size: 1.6rem;
                margin-bottom: 1rem;
                min-height: 60px;
            }
        }
    }

    .b2b-button-container {
        padding-top: 30vh;
        text-align: center;
        padding-bottom: 2rem;

        .btn-hero {
            background: @orange;
            color: @white;
            border-radius: 5px;
            padding: 0.8rem 5rem;
            font-size: 1.3rem;
        }
    }
}

.b2b-test-section {
    background: @neutral;
    color: @graytext;
    padding-bottom: 5rem;

    & .test-item {
        position: relative;

        & .test-item-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 235, 221, 0.8);
            padding: 2rem;
            .display(flex);
            align-items: flex-start;
            justify-content: flex-start;
            padding-top: 60%;
            flex-flow: column;
            flex-wrap: wrap;
            font-style: italic;
            font-size: 1.3rem;
            font-family: @secondfont;
            opacity: 0;
            .transition(all .3s ease-in-out);

            & h3 {
                font-style: normal;
                font-family: @mainfont;
                margin-top: 1rem;
                font-size: 1rem;
            }
        }

        &:hover {
            & .test-item-wrapper {
                opacity: 1;
            }
        }
    }
}

.b2b-contact-section {
    color: @graytext;
    padding-bottom: 5rem;

    & .form-input-item {
        margin-bottom: 1rem;

        & p {
            margin-bottom: 2px;
            font-size: 1.2rem;
            & label {
                margin: 0 1rem;
            }
        }

        & label {
            font-size: 1.1rem;
            margin: 0;

            & input {
                margin-right: 5px;
            }
        }

        & .form-control {
            height: auto;
            padding: 0.9rem;
            border-radius: 0;
            font-size: 1.1rem;
            .placeholder(@graytext);
        }

        & .btn-hero {
            background: @orange;
            color: @white;
            border-radius: 5px;
            padding: 0.8rem 5rem;
            font-size: 1.3rem;
        }
    }

    & .form-input-submit {
        padding-top: 3rem;
        text-align: center;
    }
}

.invalid-feedback {
    display: block;
}

.thanks-svg {
    max-width: 130px;
    display: block;
    margin: 2rem auto;
    margin-bottom: 1.5rem;
}

.thanks-container {
    text-align: center;
    padding: 3rem 1rem;
    color: @graytext;
    font-weight: 400;

    .btn-hero {
        margin-top: 1.3rem;
        background: @orange;
        color: @white;
        border-radius: 5px;
        padding: 0.8rem 5rem;
        font-size: 1.3rem;
    }

    & h1 {
        font-family: @secondfont;
        color: @graytitle;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.6rem;
        padding-bottom: 1.5rem;
    }
}