/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader-css {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.loader-css:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #DC582A;
  border-color: #DC582A transparent #DC582A transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.header-logo {
  text-align: center;
  padding: 3rem 1rem;
}
.the-header {
  text-align: center;
  padding: 1.5rem 1rem;
}
.the-header ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  justify-content: flex-end;
}
.the-header ul li a {
  margin-left: 1.5rem;
}
.the-navbar {
  padding-bottom: 1.5rem;
}
.the-navbar .navbar-nav .nav-item .nav-link {
  padding: 1rem 3.5rem !important;
  color: #444444;
}
.the-navbar .navbar-nav .nav-item .nav-link:hover {
  color: #C34E25;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  background-color: #ffffff;
  color: #444444;
  padding: 2.5rem 1rem;
}
.the-footer .footer-item .footer-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-item .footer-sidebar .widgettitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.the-footer .footer-item .footer-sidebar .widget_social_networks_widget {
  padding: 1rem 0;
}
.the-footer .footer-item .footer-sidebar .widget_social_networks_widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-footer .footer-item .footer-sidebar .widget_social_networks_widget ul li a {
  border: 1px solid #444444;
  color: #444444;
  height: 40px;
  width: 40px;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  padding: 6px;
  border-radius: 100%;
  margin-right: 1rem;
}
.the-footer .footer-item .footer-sidebar .widget_social_networks_widget ul li a:hover {
  color: #C34E25;
}
.the-footer .footer-item .footer-sidebar .textwidget {
  padding-top: 6px;
  font-size: 0.9rem;
  line-height: 1rem;
}
.the-footer .footer-item .footer-sidebar .custom-country-selector {
  border: 1px solid black;
  border-radius: 0;
  padding: 0.7rem;
  height: auto;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.the-footer .footer-item .footer-sidebar .widget_nav_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-item .footer-sidebar .widget_nav_menu ul li a {
  padding: 0.4rem 1rem;
  padding-left: 0;
  font-size: 0.9rem;
  color: #444444;
}
.the-footer .footer-item .footer-sidebar .widget_nav_menu ul li a:hover {
  color: #212529;
}
.footer-logo {
  text-align: center;
  padding: 1.5rem 1rem;
}
.footer-copy {
  background-color: #DC582A;
  color: #ffffff;
  padding: 1.5rem 1rem;
}
.footer-copy a {
  color: #ffffff;
}
.footer-copy a:hover {
  color: #C34E25;
}
.footer-copy .footer-copy-left h6 {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 500;
}
.footer-copy .footer-copy-right ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  font-size: 0.9rem;
}
.footer-copy .footer-copy-right ul a {
  padding: 0 0.5rem;
}
/* --------------------------------------------------------------
3.- WELCOME
-------------------------------------------------------------- */
.welcome-main-container {
  background-size: cover !important;
  background-position: center center !important;
  text-align: center;
  color: #444444;
  padding: 3rem;
}
.welcome-main-container .welcome-title {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  padding-bottom: 2rem;
}
.welcome-main-container .welcome-title h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.welcome-main-container .welcome-sections-container-item .welcome-site-wrapper {
  position: relative;
}
.welcome-main-container .welcome-sections-container-item .welcome-site-wrapper img {
  width: 100%;
}
.welcome-main-container .welcome-sections-container-item .welcome-site-wrapper .welcome-sections-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-main-container .welcome-sections-container-item .welcome-site-wrapper .welcome-sections-wrapper h2 {
  background: #DC582A;
  color: #ffffff;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  margin: 0;
  letter-spacing: 0.5px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.welcome-main-container .welcome-sections-container-item .welcome-site-wrapper .welcome-sections-wrapper h2:hover {
  background: #C34E25;
}
/* --------------------------------------------------------------
4.- B2C LANDING
-------------------------------------------------------------- */
.b2c-main-container {
  background-size: cover !important;
  background-position: center center !important;
  padding: 5rem 1rem;
}
.b2c-main-container .b2c-content-section {
  color: #444444;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.b2c-main-container .b2c-content-section h1 {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}
.main-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-popup-container .main-popup-wrapper {
  background: #ffffff;
  max-width: 75vw;
  padding: 4rem;
}
.main-popup-container .popup-content-section {
  padding-left: 4%;
  padding-right: 8%;
  font-size: 1.5rem;
}
.main-popup-container .popup-content-section h2 {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  font-size: 2.8rem;
}
.sendinblue-form-container .form-email-input {
  height: auto;
  padding: 0.7rem;
  border-color: #444444;
}
.sendinblue-form-container .btn {
  background: #DC582A;
  color: #ffffff;
  width: 100%;
  border: 0;
  padding: 0.8rem;
  margin-top: 1rem;
}
.sendinblue-form-container .btn:hover {
  background: #C34E25;
}
.sendinblue-form-container .error-thanks-email {
  text-align: left;
  display: block;
  font-size: 1rem;
}
/* --------------------------------------------------------------
5.- B2B LANDING
-------------------------------------------------------------- */
.b2b-title-container {
  color: #444444;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.b2b-title-container h2 {
  color: #212529;
  font-family: 'DM Serif Display', serif;
  font-size: 2.8rem;
  margin: 1.5rem 0;
}
.b2b-main-container {
  background-size: cover !important;
  background-position: center center !important;
  padding: 5rem 1rem;
}
.b2b-main-container .b2b-content-section {
  color: #444444;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.b2b-main-container .b2b-content-section h1 {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.6rem;
  padding-bottom: 1.5rem;
}
.b2b-main-container .b2b-content-section .btn-hero {
  background: #DC582A;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.8rem 5rem;
  font-size: 1.3rem;
}
.b2b-about-section {
  background: #FFF8F5;
  color: #444444;
  padding-bottom: 3rem;
}
.b2b-about-section .b2b-box-item {
  position: relative;
  padding: 2rem 1rem;
}
.b2b-about-section .b2b-box-item img {
  display: block;
  margin: 0 auto;
}
.b2b-about-section .b2b-box-item .b2b-box-item-wrapper {
  background: #FFF8F5;
  position: absolute;
  top: 10%;
  max-width: 55%;
  padding: 3rem;
  font-size: 1rem;
  line-height: 2rem;
}
.b2b-about-section .b2b-box-item .b2b-box-item-wrapper h2 {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  margin-bottom: 1.5rem;
}
.b2b-about-section .odd img {
  margin-right: 0;
}
.b2b-about-section .odd .b2b-box-item-wrapper {
  left: 0;
}
.b2b-about-section .even img {
  margin-left: 0;
}
.b2b-about-section .even .b2b-box-item-wrapper {
  right: 0;
}
.b2b-benefits-section {
  color: #444444;
  padding-bottom: 3rem;
}
.b2b-benefits-section .benefits-item .benefits-item-wrapper {
  padding: 2rem 1rem;
  min-height: 210px;
  text-align: center;
  box-shadow: 0 0 10px #d6d6d6;
  margin: 0 0.5rem;
}
.b2b-benefits-section .benefits-item .benefits-item-wrapper img {
  margin-bottom: 1.1rem;
}
.b2b-inst-section {
  color: #444444;
  background-size: cover !important;
  background-position: center center !important;
  padding-bottom: 3rem;
}
.b2b-inst-section .inst-item {
  position: relative;
  padding: 0 1.5rem;
}
.b2b-inst-section .inst-item .big-number {
  color: #FFB884;
  position: absolute;
  font-family: 'DM Serif Display', serif;
  top: -10px;
  left: 5px;
  font-size: 4.5rem;
}
.b2b-inst-section .inst-item .inst-item-wrapper {
  background: #ffffff;
  position: absolute;
  top: 80%;
  left: 15%;
  max-width: 70%;
  min-height: 240px;
  padding: 2rem;
  z-index: 2;
  text-align: center;
}
.b2b-inst-section .inst-item .inst-item-wrapper h2 {
  color: #212529;
  font-family: 'DM Serif Display', serif;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  min-height: 60px;
}
.b2b-inst-section .b2b-button-container {
  padding-top: 30vh;
  text-align: center;
  padding-bottom: 2rem;
}
.b2b-inst-section .b2b-button-container .btn-hero {
  background: #DC582A;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.8rem 5rem;
  font-size: 1.3rem;
}
.b2b-test-section {
  background: #FFDEC6;
  color: #444444;
  padding-bottom: 5rem;
}
.b2b-test-section .test-item {
  position: relative;
}
.b2b-test-section .test-item .test-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 235, 221, 0.8);
  padding: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 60%;
  flex-flow: column;
  flex-wrap: wrap;
  font-style: italic;
  font-size: 1.3rem;
  font-family: 'DM Serif Display', serif;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.b2b-test-section .test-item .test-item-wrapper h3 {
  font-style: normal;
  font-family: 'DM Sans', sans-serif;
  margin-top: 1rem;
  font-size: 1rem;
}
.b2b-test-section .test-item:hover .test-item-wrapper {
  opacity: 1;
}
.b2b-contact-section {
  color: #444444;
  padding-bottom: 5rem;
}
.b2b-contact-section .form-input-item {
  margin-bottom: 1rem;
}
.b2b-contact-section .form-input-item p {
  margin-bottom: 2px;
  font-size: 1.2rem;
}
.b2b-contact-section .form-input-item p label {
  margin: 0 1rem;
}
.b2b-contact-section .form-input-item label {
  font-size: 1.1rem;
  margin: 0;
}
.b2b-contact-section .form-input-item label input {
  margin-right: 5px;
}
.b2b-contact-section .form-input-item .form-control {
  height: auto;
  padding: 0.9rem;
  border-radius: 0;
  font-size: 1.1rem;
}
.b2b-contact-section .form-input-item .form-control::-webkit-input-placeholder {
  color: #444444;
}
.b2b-contact-section .form-input-item .form-control:-moz-placeholder {
  color: #444444;
}
.b2b-contact-section .form-input-item .form-control::-moz-placeholder {
  color: #444444;
}
.b2b-contact-section .form-input-item .form-control:-ms-input-placeholder {
  color: #444444;
}
.b2b-contact-section .form-input-item .btn-hero {
  background: #DC582A;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.8rem 5rem;
  font-size: 1.3rem;
}
.b2b-contact-section .form-input-submit {
  padding-top: 3rem;
  text-align: center;
}
.invalid-feedback {
  display: block;
}
.thanks-svg {
  max-width: 130px;
  display: block;
  margin: 2rem auto;
  margin-bottom: 1.5rem;
}
.thanks-container {
  text-align: center;
  padding: 3rem 1rem;
  color: #444444;
  font-weight: 400;
}
.thanks-container .btn-hero {
  margin-top: 1.3rem;
  background: #DC582A;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.8rem 5rem;
  font-size: 1.3rem;
}
.thanks-container h1 {
  font-family: 'DM Serif Display', serif;
  color: #212529;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.6rem;
  padding-bottom: 1.5rem;
}
